@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  margin: auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#root {
  min-height: 100vh;
  margin: 0 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex-grow: 1;
}

.message {
  margin: 2vh 0;
}

.message-info {
  font-size: 8pt;
  font-style: italic;
}

.send-form {
  display: flex;
  flex-grow: 1;
}

.message-field {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}
